# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
android/
ios/

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
smarthouse.postman_collection.json
